*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 255, 255, 0.824);
}
.title
{
    text-align: center;
    padding: 10px;
}

.calc-body
{
    background-color: gray;
}
footer
{
    display: block;
}
.footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer img
{
    height: 25px;
    width: 25px;
}
.footer h2
{
    font-size: medium;
}